<%= render "shared/header" %>
<div class="my__page__main">マイページ</div>
    <%# if current_user.id == @user %>
      <%= link_to "#{current_user.nickname}の編集",  edit_user_path(@user), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
      <%= link_to "削除",  user_registration_path(@user), method: :delete, class:"item-destroy" %>
    <%# end %>
<%= render "shared/footer" %>