<%= render "shared/header" %>
<div class="main">
  <div class="header__background">
  </div>
  <div class="index__contents">
  </div>
  <div class="index__under">
  </div>
</div>
<%= render "shared/footer" %>